@media (max-width: 1250px) {

    .navbar {
        padding: 5.6rem 9rem;
    }

    .hero-header {
        padding: 4rem 2rem 0 9rem;
    }
      
    .hero-header__desc {
        margin-bottom: 5rem;
    }
    
}

@media (max-width: 1000px) {
    /* menu chowane*/
    button {
        display: inline-block;
    }

    

    .hero-section {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr ;
        grid-gap: 10px;
        align-items: flex-start;
        justify-content: flex-start;
        padding-top: 3rem;
    }

    .hero-header {
        padding: 4rem
    }

    .hero-img {
        margin-top: 7rem;
    }
   
}

@media (max-width: 650px) {

    .hero-header__new {
        font-size: 1.2rem;
    }

    .hero-header__desc {
        padding-right: 4rem;
    }

    .btn {
        font-size: 1.3rem;
        padding: 1.6rem 2rem;
    }
        
    .btn-hero {
        background-color: var(--red);
        color: #fff;
    }

    .footer-desc {
        font-size: 1.4rem;
    }

    .navbar__img .toogle {
        display: inline;
        color: black;
        padding: 1em;
    }

    .navbar__img .active {
        display: block;
    }

    .navbar__img {
        width: 100%;
        display: flex;
        margin: 0 auto;
        justify-content: space-between;
        align-items: center;
    }

    .close {
        display: none;
    }

    .navbar {
        flex-direction: column;
        padding: 2rem 4rem;
        position: relative;
    }
  
    .navbar__links { 
        box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.2);
        border-radius: 4px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 23.2rem;
        width: calc(100% - 4.2rem);
        background-color: #fff;
        padding: 2rem 2rem;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin-top: 150px;
    }


    .list-link {
        font-size: 1.8rem;
    }

    .special {
        width: 100%;
        
    }

    .kreska {
        width: 100%;
        border-color: rgba(240, 233, 233, 0.3);
        display: block;
    }

    .circle {
        display: none;
    }

    ion-icon {
        font-size: 3.2rem;
    }
}

@media (max-width: 375px) {

    body {
        font-size: 1rem;
    }
    
    .hero-header {
        order: 2;
        padding: 0rem 3.3rem 0 3.3rem;
        text-transform: uppercase;
        letter-spacing: 0.1em;
    }

    .hero-img {
        order: 1;
        padding-bottom: 8rem;
    }

    .hero-header {
        padding: 0rem 2rem 0 3.3rem;
    }

    .hero-header__main {
        padding: 2rem 0 1.5rem 0;
        font-size: 3.8rem;
    }

    .hero-header__desc {
        font-size: 1.8rem;
        padding-right: 0.5rem;
        margin-bottom: 3rem;
    }

    .btn {
        border-radius: 5px;
        font-size: 1.3rem;
        padding: 1.2rem 2rem;
    }

    .btn-hero {
        background-color: var(--red);
        color: #fff;
    }

    .hero-header__footer {
        display: flex;
        align-items: center;
        
    }

    .footer-desc {
        font-size: 1.4rem;
        letter-spacing: 0.2em;
        color: var(--grayish-blue);
        margin-left: 2rem;
    }

    

    

      

}
